<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE WT</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>

<header>
    <a href="/">
        <h1>The WT</h1>
    </a>
    <nav>
        <ul class="menu">
            <a href="/"><li>Home</li></a>
            <a href="/about"><li>About Us</li></a>
            <a href="/category/men"><li>Men</li></a>
            <a href="/category/women"><li>Women</li></a>

        </ul>
        <ul class="account-menu">
            <a href="/cart"><li>View Cart</li></a>
        </ul>
        <form action="#" id="product-search-form">
            <input name="query" placeholder="search products">
            <button class="searchbutton" title="Go" type="submit"><span>Go</span></button>
        </form>
    </nav>
</header>

<div class="content">

    <div class="wrapper">
        {{!base}}
    </div>
</div>

<footer>
    <p>Copyright &copy; 2019 COMP249 Web Technology</p>

    <div id="signupform">
        <form action="#">
            <span>Sign up for special offers</span>
            <input name="email" placeholder="Enter your email" type="email">
            <button title="Go" type="submit"><span>Go</span></button>
        </form>
    </div>

    <div class="social">
        <h2>Follow Us</h2>
        <ul>
            <li><a href="https://www.facebook.com/WT" target="_BLANK">Facebook</a></li>
            <li><a href="https://instagram.com/WT" target="_BLANK">Instagram</a></li>
            <li><a href="https://www.youtube.com/channel/WT" target="_BLANK">YouTube</a></li>
        </ul>
    </div>
</footer>

</body>
</html>

