% rebase('base.html')

<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        My Cart
    </div>
    %if cart_has_items:
    %for item in cart_items:
    <div class="item">
        <div class="description">
            <span>{{item['name']}}</span>
        </div>

        <div class="quantity">
            {{item['quantity']}}
        </div>


        <div class="total-price">${{item['sub_total']}}</div>

    </div>
    %end

    <!--cart total section -->
    <div class="item">
        <div class="description">
            <span></span>
        </div>

        <div class="quantity">
                    <strong>Total</strong>
        </div>


        <div class="total-price">
            <strong style="font-weight:bold !important;">${{cart_total}}</strong>
        </div>

    </div>
    %else :
    <div class="item">
        <div class="description">
            <span>No items in the cart</span>
        </div>
    %end
    </div>

</div>

