% rebase('base.html')


<div class="productlist">
    <div class="heading">{{page_heading}}</div>

        %for item in products:
        <div class="product">
            <h2><a href="/product/{{item['id']}}">{{item['name']}}</a></h2>
            <a href="/product/{{item['id']}}">
            <div class="image"><img alt="{{item['name']}}"
                                    src="{{item['image_url']}}"></div>
            </a>
            <div class="inventory">{{item['inventory']}} in stock</div>
            <div class="cost">${{item['unit_cost']}} </div>

        </div>
    %end

</div>