% rebase('base.html')


<div class="productlist">
    <div class="heading">{{page_heading}}</div>
    <div class="product_detail">
        <a href="/product/{{product['id']}}">
            <div class="image">
                <img alt="{{product['name']}}" src="{{product['image_url']}}">
            </div>
        </a>

    </div>
    <div class="description_form">
        <div class="description">
            {{!product['description']}}
        </div>
        <div class="inventory">{{product['inventory']}} in stock</div>
        <div class="cost">${{product['unit_cost']}}</div>
        <div class="cart">
            <form action="/cart" method='POST'>
                <label style="float:left; font-weight:bold; margin-right:50px;">
                    Quantity:
                </label>
                <input style="float:left" name="quantity" type="number" value="1">
                <input name="product" type="hidden" value="{{product['id']}}">
                <input type="submit" value="Add to Cart">
            </form>
        </div>

    </div>
</div>
