html {
    font-family: Trebuchet MS, sans-serif;
    background-color: #fff;
    margin: 0 !important;
    padding: 0 !important;
    width:100%;
}

body{
    background:white;
    margin: 0 !important;
    padding: 0 !important;
    width:100%;
}

header{
    background: #3AAFA9;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    width:100%;
    z-index: 1030;
}

header h1{
    color: yellow;
    font-style: italic;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    padding: 0 !important;
    margin-left: 3%;
    display: inline-block;
    float: left;
}

nav{
    width:100%;
}

.menu a {
    list-style-type: none;
    display: inline-block;
    border-right : 1px solid white;
    padding : 0% 1%;
}

.menu a:last-child{
    border-right: 0px;
}

.menu a:hover{
    background:#fff;
    color : #3AAFA9;
}

.menu{
    float: right;
    width :78%;
    text-align:right;
}


.menu a {
    text-decoration: none;
    color: white;

}

#sale {
  animation: blinker 2s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker { to { opacity: 0; } }


.account-menu {
    float: right;
    width: 10%;
    text-align: right;
    padding: 0px 6px;
}

.account-menu a li {
    list-style-type: none;
    display: inline-block;
    border-right : 1px solid white;
    padding: 0px 6px;
}

.account-menu a li:hover {
    background:white;
    color: #3AAFA9;
 }

.account-menu li:last-child{
    border-right: 0px;
}

.account-menu a {
    text-decoration : none;
    color:white;
}

#product-search-form{
    display: inline-block;
    float: right;
    text-align: right;
    width: auto;
    padding : 1%;
}

input{
    border-radius:0px;
}

input[type=submit]{
    border-radius:0px !important;
}

#product-search-form input{
    border: none;
    padding: 8px;
    font-style: italic;
}

#product-search-form button{
    border: none;
    padding: 8px;
    background:green;
    color:white;
}


#promo{
    text-align: left;
    float: right;
    width: 38.4%;
}

 #promo ul li{
    list-style-type: none;
    display: inline-block;
    border-right : 1px solid white;
    padding : 0% 1%;
}

#promo li:last-child{
    border-right: 0px;
}

 #promo ul li a{
    text-decoration: none;
    display: inline-block;
    color:white
}

 #promo ul li a:hover{
    background:white;
    color: #3AAFA9;
}
/* content*/

.content {
    width:100%;
    background:#F1F1F1;
    display:block;
    overflow:auto;
    height: 100%;
    padding-top:1%;
    min-height: 504px;
}

.featured{
    width:auto;
    margin-top:8%;
    padding:5%;
    display:inline-block;

}

.featured::before {
  content: "Featured Now";
  font-size:40px;
  color:#17252A;
  text-align: center;
  margin:auto;
}

.featured .image{
    width:56%;
    display:inline-block;
    float:left;
}

.featured .image img{
    height: 20%;
    width: 100%;
    float:left;
    display:inline-block;
}

.featured .description{
    width:40%;
    font-size:18px;
    padding:2%;
    display:inline-block;
    float:left;
    min-height: 180px;
}


.featured .product-detail{
    float:left;
    display:inline-block;
    width:40%;
    padding:2%;

}

#special-offer{
    display:block;
    text-align:center;
    width:auto;
    font-size: 32px;
    background: #3AAFA9;
    height: 110px;
    color: white;
    padding-top: 1px;
}

.wrapper{
    display:inline-block;
    height: auto;
    width: 90%;
    margin: 40px auto;
    padding:5%;
    min-height:200x !important;
}

/* Product List*/
.productlist{
    display:inline-block;
    height: auto;
    width: 100%;

}

.productlist .heading{
    font-size:40px;
    color:black;
    display:block;
    margin:5px;

}

.product{
    text-align: center;
    width: 30%;
    height: 340px;
    background-color: white;
    float: left;
    margin: 1.5%;
}

.product h2 a{
    color:#3AAFA9;
    text-decoration:none;
}

.product h2 a:hover{
    text-decoration:underline;

}


.product .image{
    width:100%;
}

.product .image img{
    width:76%;
    height: auto;
}

.productlist .inventory{
    font-size:18px;
    font-weight:bold;
    display:block;
    text-align:center;
    padding:1%;
}

.productlist .cost{
    display:block;
    text-align:center;

}

.cart{
    height: 40px;
    width: 96%;
    padding: 1%;
    display: block;
    margin-top: 50px;
}

.cart input[type=number]{
    border: none;
    padding: 8px;
    width:10%;
    float:left;
    background:#FEFFFF;
    border:1px solid #ccc;
    height:30px;
    padding:3px;
}

.cart input[type=submit]{
    border: none;
    padding: 8px;
    width:24%;
    float:right;
    background: green;
    border:1px solid #green;
    height:36px;
    padding:4px;
    border-radius:0px !important;
    color:white;
}

/*product detail*/
.product_detail{
     text-align:center;
     width: 60%;
     height:auto;
     background-color:white;
     float:left;
     margin:1.5%;
}

.product_detail .image{
    width:100%;
}

.product_detail .image img{
    width:100%;
    height: auto;
}

.description_form{
    width:36%;
    float:left;
    display:inline-block;
    margin:0.5%;
}

.description_form .inventory{
    font-size:18px;
    font-weight:bold;
    display:block;
    text-align:left !important;
    padding:1%;
}

.description_form  .cost{
    display:block;
    margin-left:4px;
    text-align: left !important;

}

.product_detail  .cart{
    height:40px;
    width:96%;
    padding:2%;
    display:block;
}

.product_detail  .cart input[type=number]{
    border: none;
    padding: 8px;
    width:45%;
    float:left;
    background:#FEFFFF;
    border:1px solid #ccc;
    height:30px;
    padding:3px;
}

.product_detail  .cart input[type=submit]{
    border: none;
    padding: 8px;
    width:45%;
    float:right;
    background:#FEFFFF;
    border:1px solid #ccc;
    height:36px;
    padding:4px;
    border-radius:0px !important;
}



/*promotional text*/
#promotional-text{
     font-family:'Open Sans', sans-serif;
     width:90%;
     display:inline-block;
     background: #DEF2F1;
     text-align:center;
     padding:5%;
     line-height:24px
     height:100%;
     display:inline-block;
 }

 #promotional-text a{
    color:black;
 }

#promotional-text::before {
    content: "What We Deliver";
    font-size: 30px;
    color:black;
    display:block;
    margin:20px;
    text-transform:uppercase;

}

.promotional-text p {
    margin-top:10px;
}

/*footer*/
footer{
    background-color: #17252A;
    min-height: 170px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    padding:3%;
    width:auto;
}

footer p{

    display:inline-block;
    float:left;
    width: 30%;
    text-align:left;
}


.social{
    float:left;
    display:inline-block;
    width: 30%;
    text-align:right;
}

social ul{
    display:inline-block;

}


.social li{
    list-style:none;
    display:block;
    text-align:right;
    margin-bottom: 2px;
}
.social li a{
    text-decoration:none;
    color: white;
}

.social li a:hover{
    text-decoration:underline;
    color: white;

}

#signupform{
    float:left;
    display:inline-block;
    width: 30%;
    text-align:center;
    padding:20px;
}

#signupform form  span{
    display: block;
}

#signupform input{
    border: none;
    padding: 8px;
    width:60%;
    font-style: italic;
}

#signupform  button{
    border: none;
    padding: 8px !important;
    background:green;
    color:white;
}


.shopping-cart {
  width: 750px;
  height: auto ;
  margin: 40px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
}

.shopping-cart .description{
    padding-top: 18px;
    width: 50%;
    height: 20px;
}

.title {
  height: 30px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 6px 30px;
  height: 53px;
  display: flex;
}

.item:nth-child(1) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.item:last-child {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}


.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
    text-align: center;
    width: 30%;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}